<div id="post-{{id}}-vote">
  <input type="checkbox" class="vote-input like" name="vote-{{id}}" id="like-button-{{id}}" value="like" {{#if liked}}
    checked="checked" {{/if}} data-post-id="{{id}}" style="display:none;">
  <label for="like-button-{{id}}">Like <span class="like-count" for="like-button-{{id}}">{{likes}}</span></label>
  <input type="checkbox" class="vote-input dislike" name="vote-{{id}}" id="dislike-button-{{id}}" value="dislike" {{#if unliked}}
    checked="checked" {{/if}} data-post-id="{{id}}" style="display:none;">
  <label for="dislike-button-{{id}}">Dislike <span class="dislike-count">{{dislikes}}</span></label>
</div>