<section>
  <div class="title-bar">
    <h2>Your Dashboard</h2>
    <nav class="subnav">
      <a class="dash-link italic-h" href="/dashboard">View Posts</a> |
      <a class="dash-link italic-h" href="/dashboard/likes">View Likes</a> |
      <a class="dash-link italic-h" href="/dashboard/dislikes">View Dislikes</a>
    </nav>
  </div>

  <p class="welcome">
    Hi {{user.nickname}}. Welcome to your account dashboard! Here you can manage your existing posts, add a new one, or
    view posts you've liked or disliked.
  </p>

  <div class="user-tags">
    <h3>Your Interests</h3>
    <p>Select some tags to help find places you might like.</p>
    <ul id="tag-section" class="unselected-tags tag-list">
      {{#each other_tags as |tag|}}
      <li class="tag-list-item">
        <input id="tag-{{tag.tag_id}}-btn" class="tag-input hidden" type="checkbox" value="{{tag.tag_id}}" {{#if
          tag.selected}} checked="checked" {{/if}} />
        <label for="tag-{{tag.tag_id}}-btn">{{tag.tag_name}}</label>
      </li>
      {{/each}}
    </ul>
  </div>
</section>


{{#if posts.length}}
<section id="your-posts">
  <h3 id="your-posts-title">Your Posts</h3>
  <a id="add-post-btn" class="italic-h" href="/dashboard/create">Add a new post</a>
  <p>You've shared {{posts.length}} {{format_plural 'place' posts.length}}, so far.</p>
  <ul class="post-list">
    {{#each posts as |post|}}
    <li class="your-post">
      {{> post-info post}}
      <a id="edit-post-btn" class="italic-h" href="/dashboard/edit/{{post.id}}">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<script src="/javascript/user-tags.js"></script>
<script src="/javascript/vote.js"></script>