<article id="art" class="post">
  <div class="spd1">
    <h2><a id="titttle" href="/post/{{id}}">{{title}}</a></h2>
    <img class="place-image" src="{{image_url}}" />
    <p class="post-byline">
      Posted by <a class="italic-h" href="/user/{{user.post_author_id}}">{{user.post_author}}</a>
      on {{format_date created_at}}
    </p>
  </div>
  <div class="spd2">
    {{#if map_url}}
    <div class="map-container"><a href="https://www.google.com/maps/search/?api=1&query={{latitude}}%2C{{longitude}}"
        target="_blank">
        <img class="embedded-map" src="{{map_url}}" /></a></div>
    {{/if}}
    <p>{{description}}</p>
    {{> tags this}}
    <div class="social-bar">
      <div><a class="italic-h" id="comment-count" href="/post/{{id}}">{{comment_count}} {{format_plural 'comment' comment_count}}</a></div>
      {{> like-controls this}}
    </div>
  </div>
</article>
{{> comments comments}}
<script src="/javascript/vote.js"></script>